page-civil-work-order-add-edit {
  .order-item-card {
    .text-div {
      width: 100%;
      i {
        font-size: 1.3rem;
        margin-right: 8px;
      }
    }
  }

  ion-footer {
    .material-icons {
      padding-right: 5.8px;
      font-size: 1.4em;
    }
  }
}
