<!--
  Generated template for the CivilWorkOrderAddEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{item.id_solicitacao ? 'Editar' : 'Adicionar'}} solicitação de compras</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>


  <form (ngSubmit)="onAddClick(form)" #form="ngForm" padding-left padding-right>
    <ion-row>

      <ion-col col-12 no-padding>
        <ion-item>
          <ion-label floating>Data de necessidade*</ion-label>
          <ion-datetime min="{{minDate}}" max="{{maxDate}}" cancelText="Cancelar" doneText="Escolher"  #startDate="ngModel" required name="startDate" displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY"
                        [(ngModel)]="item.necessidade"></ion-datetime>
        </ion-item>
        <small padding-left padding-top *ngIf="form.dirty && startDate.invalid && (startDate.dirty || startDate.touched)" class="form-error">
          Por favor verifique a data de necessidade.
        </small>
      </ion-col>

      <ion-col col-12 no-padding>


        <ion-item class="message-item" margin-bottom>
          <ion-label floating>Descrição</ion-label>
          <ion-textarea [auto-resize-textarea]="320" name="description" #description="ngModel" type="text" [(ngModel)]="item.descricao"></ion-textarea>
        </ion-item>

      </ion-col>

      <ion-col no-padding col-12 displayFlex>

        <ion-item no-lines>
          <ion-label>Apropriar itens</ion-label>
          <ion-toggle #frame="ngModel" [(ngModel)]="item.frame" name="frame" color="secondary-dark" checked="false"></ion-toggle>
        </ion-item>

      </ion-col>
      <ion-col col-12 no-padding *ngIf="item.frame">

        <ion-item>
          <ion-label floating>Fase da obra</ion-label>
          <ion-select (ionChange)="getServicos()" name="step" [(ngModel)]="item.id_fase" okText="Selecionar" cancelText="Cancelar">
            <ion-option value="none">Nenhuma</ion-option>
            <ion-option value="{{step.id_fase}}" *ngFor="let step of steps | orderByImpure: 'nome'; let i = index">{{step.nome}}</ion-option>
          </ion-select>
        </ion-item>

      </ion-col>

      <ion-col col-12 no-padding *ngIf="item.frame">

        <ion-item>
          <ion-label floating>Serviço</ion-label>
          <ion-select name="service" name="service" [(ngModel)]="item.id_servico" okText="Selecionar" cancelText="Cancelar">
            <ion-option value="none">Nenhum</ion-option>
            <ion-option value="{{service.id_servico}}" *ngFor="let service of services | orderByImpure: 'nome'; let i = index">{{service.nome}}</ion-option>
          </ion-select>
        </ion-item>

      </ion-col>

    </ion-row>


  </form>


  <ion-card class="order-card order-item-card" *ngFor="let subItem of item.itensArray ; let i = index">

    <ion-card-content>

      <ion-row>
        <ion-col col-12>
          <div displayFlex="inline-flex" class="text-div" *ngIf="subItem.nome">
            <i class="material-icons">dashboard</i> <span class="title">{{subItem.nome}}</span>
          </div>
          <div displayFlex="inline-flex" class="text-div" *ngIf="subItem.quantidade">
            <i class="material-icons">shopping_cart</i> <span class="description">{{subItem.quantidade}} {{subItem.unidadeMedida}}</span>
          </div>
          <div displayFlex="inline-flex" class="text-div" *ngIf="subItem.service">
            <i class="material-icons">place</i> <span class="description">{{subItem.service}}</span>
          </div>
          <div displayFlex="inline-flex" class="text-div" *ngIf="subItem.step">
            <i class="material-icons">check_circle</i> <span class="description">{{subItem.step}}</span>
          </div>

          <p class="text">{{subItem.complemento}}</p>





        </ion-col>

      </ion-row>

    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button float-right clear color="secondary-dark" (click)="showItemOptions(subItem, i)" *ngIf="!subItem.id_item || subItem.situacao?.id_situacao == 136 || item.situacao?.id_situacao == 'draftApp'">Editar</button>
      </ion-col>
    </ion-row>

  </ion-card>




</ion-content>

<ion-footer>
  <ion-toolbar class="btt-toolbar">
    <ion-row>
      <ion-col no-padding>
        <button (click)="onAddItemClick()" no-margin ion-button clear full color="secondary-dark" icon-left>
          <ion-icon name="md-add"></ion-icon>
          Item
        </button>
      </ion-col>


      <ion-col no-padding *ngIf="false && (!item.id_solicitacao || item.situacao?.id_situacao == 'draftApp')">
        <button (click)="onSaveClick(form)" type="button" no-margin ion-button clear full color="secondary-dark" icon-left>
          <i color="secondary-dark" class="material-icons">
            save
          </i>
          Rascunho
        </button>
      </ion-col>
      <ion-col no-padding>
        <button (click)="onAddClick(form)" no-margin ion-button  full color="secondary-dark" icon-left>
          <ion-icon name="md-checkmark"></ion-icon>
          Enviar
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
