<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sobre</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-row>

    <ion-col col-12 padding>
      <img-loader src="about.imagem" fallback="assets/imgs/menu/logo.png" spinner="true" fallbackAsPlaceholder="false" useImg></img-loader>
    </ion-col>

    <ion-col col-12 padding-left padding-right>

      <h3 class="title">{{about.titulo}}</h3>

      <p class="text">{{about.texto}}</p>

    </ion-col>
  </ion-row>

</ion-content>
