page-about {

  ion-content {
    background-color: #fff !important;

    .text {
      font-size: map_get($text-sizes, text-body);
      color: map_get($colors, text-primary);
      text-align: justify;
      font-weight:500;
    }

    .title {
      font-size: map_get($text-sizes, text-header);
      color: map_get($colors, text-primary);
      text-align: center;
      font-weight: bold;
      margin-bottom: 32px;
      margin-top: 12px;
    }
  }

}
