page-login {

  ion-label {
    color: #fff !important;
  }

  ion-content.dark-bg {
    background-color: rgb(44,44,44) !important;
    background-image: url(../assets/imgs/login/login_background_small.png) !important;
  }

  .dark-bg {
    background-color: rgb(44,44,44) !important;
    background-image: url(../assets/imgs/login/login_background_small.png) !important;
  }

  ion-content.img-bg {
    background-image: url(../assets/imgs/login/login_background.png) !important;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    flex-direction: column;
  }

  .form-row {
    > ion-col {
      //.item-input:last-of-type {
      //  margin-bottom: 32px;
      //}
    }
  }

  .login-btt {
    margin-top: 16px;
    height: 3.8em;
  }

  .item-input {
    padding-left: 0px;
    background-color: transparent;
    color: map_get($colors, white);
  }

  ion-footer {
    .text {
      font-size: map_get($text-sizes, text-body);
      color: map_get($colors, text-primary);
      text-align: center;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }

  .forget-password-btt {
    padding-right: 0px;
  }
}
