<ion-content>

  <ion-content class="img-bg" id="login-content">


    <div class="content">

      <ion-row class="form-row dark-bg" padding-left padding-right>
        <ion-col no-padding col-12>


          <form (ngSubmit)="onLoginClick(form)" #form="ngForm">
            <ion-item>
              <ion-label floating>Usuário</ion-label>
              <ion-input required name="email" #email="ngModel" email [(ngModel)]="user.login"></ion-input>
            </ion-item>

            <small *ngIf="email.invalid && (email.dirty || email.touched)" class="form-text text-danger">Por favor
              verifique o seu e-mail
            </small>

            <ion-item>
              <ion-label floating>Senha</ion-label>

              <ion-input clearOnEdit="false" minlength="4" required name="password" #password="ngModel" (keyup.enter)="login()"
                         [(ngModel)]="user.senha" type="password"></ion-input>

            </ion-item>
            <small color="danger" *ngIf="password.invalid && (password.dirty || password.touched)" class="form-text text-danger">Por
              favor verifique a sua senha
            </small>
            <div>
              <button [style.fontSize]="'1.4rem'" large [disabled]="form.invalid" class="login-btt" type="submit" ion-button full color="secondary">Acessar</button>
              <button type="button" class="forget-password-btt" no-padding-right float-right ion-button small clear color="white"
                      (click)="showForgetPasswordDialog()">Esqueci a senha
              </button>
            </div>
          </form>

        </ion-col>

      </ion-row>
    </div>

  </ion-content>


  <ion-footer>
    <ion-toolbar color="white">
      <ion-row>
        <ion-col col-12>

          <h4 (click)="register()" class="text">Não é cadastrado? Experimente gratuitamente</h4>

        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
