<div *ngIf="filter">

    <ion-row *ngIf="!small">
        <ion-col class="filter-col">

            <ion-card>

                <ion-card-content no-padding>

                    <ion-item>
                        <ion-icon class="dark-icon" name="md-search" item-start></ion-icon>
                        Filtro ativo
                        <ion-icon class="dark-icon" name="md-create" item-end></ion-icon>
                    </ion-item>

                </ion-card-content>

            </ion-card>

        </ion-col>

    </ion-row>


    <ion-toolbar class="search-toolbar" color="light" *ngIf="small">
        <ion-badge (click)="onSearchBadgeClick()" color="secondary-dark" class="search-badge">Filtro ativo
            <ion-icon name="md-search"></ion-icon>
        </ion-badge>

    </ion-toolbar>

</div>
