filter-bar {
  ion-card-content {
    height: auto !important;
  }

  ion-card {
    margin-bottom: 0px !important;
    width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  ion-icon {
    font-size: 1.7rem;
  }

  .filter-col {
    padding-left: 12px;
    padding-right: 12px;
  }
}
