<!--
  Generated template for the CivilWorkDayDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Dia a dia da obra</ion-title>


        <ion-buttons end *ngIf="item?.usuario.id_usuario == userLocalProvider.user.id_usuario">
            <button ion-button (click)="showOptions()">
                <i class="material-icons">more_vert</i>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>

    <!--<ion-refresher (ionRefresh)="doRefresh($event)">-->
    <!--<ion-refresher-content></ion-refresher-content>-->
    <!--</ion-refresher>-->

    <civil-work-day-header [full]="true" [item]="item"></civil-work-day-header>

    <div *ngIf="isLoaded">
        <ion-card *ngFor="let file of item?.anexosArray">

            <ion-card-content>

                <div *ngIf="getFileType(file) == 'image'" class="image-icon">

                    <img src="{{getFileImage(file)}}" imageViewer/>

                    <h3 class="title">{{file.nome}}</h3>
                </div>

                

                <div (click)="downloadFile(file)" displayFlex flexDirection="column" justifyContent="center"
                     *ngIf="getFileType(file) == 'file'"
                     class="file-icon">
                    <i class="material-icons">insert_drive_file</i>
                    <h3 class="title">{{file.nome}}</h3>
                </div>

                <p *ngIf="file.descricao">{{file.descricao}}</p>

                <sync-line [item]="file"></sync-line>
            </ion-card-content>

        </ion-card>
    </div>

</ion-content>
