no-items {
  .message {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: map_get($text-sizes, text-title);
    color: map_get($colors, text-secondary);
  }

  .subMessage {
    margin-bottom: 8px;
    font-size: map_get($text-sizes, text-caption);
    color: map_get($colors, text-secondary);
  }

  .icon.material-icons {
    font-size: 5rem !important;
    color: map_get($colors, text-secondary) !important;
  }

  ion-card {
    background-color: transparent !important;
    box-shadow: none !important;
  }

  .no-items-row {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
