<ion-row class="no-items-row" *ngIf="!list || list?.length == 0">
  <ion-col>

    <ion-card>

      <ion-card-content no-padding>


        <div displayFlex width="100%" flexDirection="column" justifyContent="center" class="customer icon-text">
          <i class="material-icons icon">error_outline</i>

          <h3 class="message">Nenhum item encontrado.</h3>
          <h4 class="subMessage" *ngIf="lastSyncDate">Sincronizado em {{lastSyncDate | date:'dd/MM/yy HH:mm'}}</h4>

          <button *ngIf="onAdd" (click)="onAdd()" ion-button color="secondary-dark">Adicionar</button>
        </div>

      </ion-card-content>

    </ion-card>

  </ion-col>
</ion-row>
