<ion-toolbar class="folder-toolbar" color="light">
    <ion-buttons left>
        <button *ngIf="!history.length" ion-button icon-only>
            <ion-icon class="dark-icon" name="md-home"></ion-icon>
        </button>
        <button *ngIf="history.length" (click)="history.length && onBackClick()" ion-button icon-only>
            <ion-icon class="dark-icon" name="{{history.length ? 'ios-arrow-back' : 'md-home'}}"></ion-icon>
        </button>
    </ion-buttons>

    <ion-title>{{folder.nome}}
        <ion-badge *ngIf="filter" (click)="onSearchBadgeClick()" color="secondary-dark" class="search-badge">Filtro
            ativo
            <ion-icon class="light-icon" name="md-search"></ion-icon>
        </ion-badge>
    </ion-title>

</ion-toolbar>


<no-items [list]="folder.galeriasFilhas" [type]="'civilWorkGallery'"></no-items>

<ion-row *ngIf="showFolders">


    <ion-col class="file-col" col-6
             *ngFor="let file of folder.galeriasFilhas | orderByImpure: orderAscDesc + orderProperty ; let i = index "
             [hidden]="file.caminhoArquivo || file.arquivo || !showFile(file)">

        <ion-card class="file-div" (press)="onSelectFile(file)" [ngClass]="{'selected': file.selected}"
                  *ngIf="!file.caminhoArquivo"
                  (tap)="onFolderClick(file)">


            <div class="file-title-div" [ngClass]="{'file-title-div-file': file.caminhoArquivo}">
                <div class="file-title-left-div">
                    <i *ngIf="!file.selected" class="material-icons file-icon">{{file.caminhoArquivo ?
                        'insert_drive_file' :
                        'folder'}}</i>
                    <i *ngIf="file.selected" class="material-icons file-icon check-icon">check_circle</i>
                    <div class="file-texts">
                        <h3 class="file-title">{{file.nome}}</h3>
                        <h3 class="file-date" *ngIf="file.caminhoArquivo">{{file.data | date:'dd/MM/yyyy'}}</h3>
                    </div>
                </div>

                <i class="material-icons file-visibility-icon"
                   [ngClass]="{'visibilityOnIcon': file.visivelCliente, 'visibilityOffIcon': !file.visivelCliente}">{{file.visivelCliente
                    ? 'visibility' : 'visibility_off'}}</i>
            </div>
            <sync-line [item]="file" [small]="true"></sync-line>
        </ion-card>

    </ion-col>

</ion-row>

<ion-row *ngIf="showFiles">

    <ion-col class="file-col" col-6
             *ngFor="let file of folder.galeriasFilhas | orderByImpure: orderAscDesc + orderProperty ; let i = index"
             [hidden]="(!file.caminhoArquivo && !file.arquivo) || !showFile(file)">

        <ion-card class="file-div archive" (press)="onSelectFile(file)" [ngClass]="{'selected': file.selected}"
                  (tap)="onFileClick(file)">

            <img-loader class="file-thumbnail img-thumbnail" *ngIf=" this.getFileType(file) == 'image'"
                        src="{{getFileThumb(file)}}" fallback="assets/imgs/gallery/imgplaceholder.png" spinner="true"
                        fallbackAsPlaceholder="false"  imageViewer #imageToView (tap)="openImage(file, imageToView, $event)"></img-loader>

            <img-loader class="file-thumbnail" *ngIf="getFileType(file) == 'file'"
                        src="assets/imgs/gallery/fileplaceholder.png" spinner="true" fallbackAsPlaceholder="false"
                        useImg></img-loader>


            <!--<img-loader class="file-thumbnail" *ngIf="!file.caminhoArquivo && file.arquivo" fallback="assets/imgs/gallery/fileplaceholder.png"-->
                        <!--src="assets/imgs/gallery/fileplaceholder.png" spinner="true" fallbackAsPlaceholder="false"-->
                        <!--useImg></img-loader>-->



            <div class="file-title-div file-title-div-file">
                <div class="file-title-left-div">
                    <i *ngIf="!file.selected" class="material-icons file-icon">{{'insert_drive_file'}}</i>
                    <i *ngIf="file.selected" class="material-icons file-icon check-icon">check_circle</i>
                    <div class="file-texts">
                        <h3 class="file-title">{{file.nome}}</h3>
                        <h3 class="file-date">{{file.data | date:'dd/MM/yyyy'}}</h3>
                    </div>
                </div>

                <i class="material-icons file-visibility-icon"
                   [ngClass]="file.visivelCliente ? 'visibility' : 'visibility_off'">{{file.visivelCliente
                    ? 'visibility' : 'visibility_off'}}</i>
            </div>
            <sync-line style="position: absolute; top: 0px; width: 100%;" [item]="file" [small]="true"></sync-line>
        </ion-card>
    </ion-col>

</ion-row>
