<ion-content>
    <ion-item>
        <ion-label color="primary" floating>Nome</ion-label>
        <ion-input [(ngModel)]="nome"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Vísivel ao cliente</ion-label>
        <ion-checkbox [(ngModel)]="visivelCliente"></ion-checkbox>
    </ion-item>
    <div padding>
        <button>Salvar</button>
    </div>
</ion-content>