file-manager {

  .folder-toolbar {
    border-bottom: solid 1px #d0d0d0;

    .toolbar-title {
      font-size: 1.5rem;
      font-weight: 400;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .search-badge {
        display: flex;
        align-items: center;

        ion-icon {
          margin-left: 4px;
        }

      }
    }

    ion-icon {
      font-size: 2.0rem !important;
    }
  }

  .file-col {
    padding: 0px;

    .file-div.archive {
      height: 150px;
    }

    .file-div.selected {
      .file-title-div {
        background-color: #fcedd8;
      }

    }

    .file-div {
      position: relative;

      .file-thumbnail {
        background-color: grey;
        object-fit: contain;
        width: 100%;
        object-fit: cover;
      }

      .img-thumbnail {
        background-position: center;
      }

      .file-title-div.file-title-div-file {
        position: absolute;
        bottom: 0px;
      }

      .file-title-div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        padding: 8px;
        left: 0px;
        width: 100%;

        .file-texts {
          overflow: hidden;
        }

        .file-title-left-div {
          display: flex;
          align-items: center;
          overflow: hidden;
        }

        .file-title, .file-date {
          margin: 0px;
        }

        .file-icon {
          margin-right: 4px;
          color: map_get($colors, text-secondary);
          font-size: 2rem;
        }

        .check-icon {
          color: map_get($colors, secondary-dark);
        }

        .file-visibility-icon {

          font-size: 1.4rem;
        }

        .file-visibility-icon.visibility {
          color: map_get($colors, blue-icon);
        }

        .file-visibility-icon.visibility_off {
          color: map_get($colors, text-secondary);
        }

        .file-title {
          font-weight: 500;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: map_get($text-sizes, text-caption);
          color: map_get($colors, text-secondary);

        }

        .file-date {
          margin-top: 4px;
          font-weight: 300;
          font-size: map_get($text-sizes, text-very-small);
          color: map_get($colors, text-secondary);
        }

      }

    }
  }
}
