<ion-card class="order-card" *ngIf="order">

    <ion-card-content>

        <ion-row>
            <ion-col col-8>
                <h3 class="title">Solicitação: {{order.numero}}</h3>
                <h4 class="description">Necessidade: {{order.necessidade | date: 'shortDate'}}</h4>


            </ion-col>
            <ion-col col-4 displayFlex justifyContent="flex-end" alignItems="flex-start">

                <ion-badge [style.backgroundColor]="order.situacao.cor_hex" class="search-badge">{{order.situacao.nome}}
                </ion-badge>

            </ion-col>

            <ion-col col-12 *ngIf="order.descricao">
                <p class="text text-html" *ngIf="full">{{order.descricao}}</p>
                <p class="text" *ngIf="!full">{{order.descricao.length > 60 ? order.descricao.substr(0, 60) + "..." :
                    order.descricao}}</p>
            </ion-col>

        </ion-row>

    </ion-card-content>


    <ion-row class="card-footer">
        <ion-col col-6>
            <button ion-button icon-left clear small *ngIf="order.usuario">
                <ion-icon class="dark-icon" name="md-person"></ion-icon>
                <div>{{order.usuario.nome}}</div>
            </button>
        </ion-col>
        <ion-col col-6 displayFlex justifyContent="flex-end">
            <button ion-button icon-left clear small>
                <ion-icon class="dark-icon" name="ios-cart"></ion-icon>
                <div>Itens: {{order.itens ? order.itens : '0'}}</div>
            </button>
        </ion-col>

        <ion-col col-12>
            <sync-line [item]="order"></sync-line>
        </ion-col>

    </ion-row>

</ion-card>
