<!--
  Generated template for the CompanySelectListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Selecione a empresa</ion-title>

    <ion-buttons end>
      <button ion-button icon-only *ngIf="modal" (click)="close()">
        <ion-icon color="white" name="md-close" item-end></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>


    <ion-item (click)="onCompanyClick(company)" *ngFor="let company of companies">
      <ion-icon name="md-briefcase" item-start class="dark-icon"></ion-icon>
      <h2>{{company.nome}}</h2>
      <p>{{company.matriz ? 'Matriz' : 'Filial'}}<span *ngIf="company.telefone"> | {{company.telefone}}</span></p>
    </ion-item>


</ion-content>
