page-civil-work-day-filter {
  ion-item {
    background-color: transparent !important;

    ion-label {
      white-space: normal;
    }
  }

  .btt-search {
    text-transform: uppercase;
  }

}
