<!--
  Generated template for the CivilWorkDayFilterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pesquisa com filtros</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon color="white" name="md-close" item-end></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <form #form="ngForm" *ngIf="searchObject" padding-left padding-right>
    <ion-row>

      <ion-col col-12 no-padding>


        <ion-item class="message-item" margin-bottom>
          <ion-label floating>Usuário</ion-label>
          <ion-input name="user" #message="ngModel" type="text" [(ngModel)]="searchObject.user" value=""></ion-input>
        </ion-item>

      </ion-col>

      <ion-col col-6 no-padding>
        <ion-item>
          <ion-label floating>Data início</ion-label>
          <ion-datetime name="startDate" displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" cancelText="Cancelar" doneText="Escolher"
                        [(ngModel)]="searchObject.startDate"></ion-datetime>
        </ion-item>
      </ion-col>

      <ion-col col-6 no-padding>
        <ion-item>
          <ion-label floating>Data fim</ion-label>
          <ion-datetime name="endDate" displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" cancelText="Cancelar" doneText="Escolher"
                        [(ngModel)]="searchObject.endDate"></ion-datetime>
        </ion-item>
      </ion-col>

      <ion-col col-12 no-padding>


        <ion-item>
          <ion-label floating>Fase da obra (opcional)</ion-label>
          <ion-select name="step" name="step" [(ngModel)]="searchObject.step" okText="Selecionar" cancelText="Cancelar">
            <ion-option value="all">Todas</ion-option>
            <ion-option value="none">Não informado</ion-option>
            <ion-option value="{{step.nome}}" *ngFor="let step of steps | orderByImpure: 'nome'">{{step.nome}}</ion-option>
          </ion-select>
        </ion-item>

      </ion-col>

      <ion-col no-padding col-12 displayFlex>
        <i class="material-icons toggle-icon">visibility</i>
        <ion-item no-lines>
          <ion-label>Exibindo ao cliente</ion-label>
          <ion-toggle [(ngModel)]="searchObject.visible" name="visible" color="secondary-dark" checked="false"></ion-toggle>
        </ion-item>


      </ion-col>

      <ion-col no-padding col-12 displayFlex>
        <i class="material-icons toggle-icon">visibility_off</i>
        <ion-item no-lines>
          <ion-label>Não exibindo ao cliente</ion-label>
          <ion-toggle [(ngModel)]="searchObject.invisible" name="invisible" color="secondary-dark" checked="false"></ion-toggle>
        </ion-item>


      </ion-col>

      <ion-col no-padding col-12 displayFlex>
        <i class="material-icons toggle-icon">attach_file</i>
        <ion-item no-lines>
          <ion-label>Contém anexos</ion-label>
          <ion-toggle [(ngModel)]="searchObject.files" name="files" color="secondary-dark" checked="false"></ion-toggle>
        </ion-item>


      </ion-col>

      <ion-col no-padding col-12 displayFlex>
        <i class="material-icons toggle-icon">close</i>
        <ion-item no-lines>
          <ion-label>Não contém anexos</ion-label>
          <ion-toggle [(ngModel)]="searchObject.nofiles" name="nofiles" color="secondary-dark" checked="false"></ion-toggle>
        </ion-item>


      </ion-col>


    </ion-row>

  </form>

</ion-content>

<ion-footer>
  <ion-toolbar class="btt-toolbar">
    <ion-row>
      <ion-col padding-left padding-right>
        <button (click)="doFilter(form)" no-margin ion-button full color="secondary-dark" icon-left>
          <ion-icon name="md-checkmark"></ion-icon>
          Pesquisar
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
