page-civil-work-order-list, page-civil-work-order-details {

  .order-card {
    .title {
      font-size: map_get($text-sizes, text-body);
      color: map_get($colors, text-primary);
      font-weight: bold;
    }

    .description {
      font-size: map_get($text-sizes, text-caption);
      color: map_get($colors, text-secondary);
      font-weight: normal;
    }


    .text {
      font-size: map_get($text-sizes, text-caption);
      color: map_get($colors, text-secondary);
      font-weight: 300;
    }

    .card-footer {
      button {
        text-transform: none;
      }
    }
  }

  .search-toolbar {
    .toolbar-content {
      display: flex;
      margin-right: 8px;
      justify-content: flex-end;

      .search-badge {
        display: flex;
        align-items: center;

        ion-icon {
          margin-left: 4px;
        }

      }

    }
  }


}
