<!--
  Generated template for the CivilWorkOrderListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Solicitações de compra ({{orders ? orders?.length : '0'}})</ion-title>

        <ion-buttons end>
            <button ion-button (click)="showFilterModal()">
                <i class="material-icons">filter_list</i>
            </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>


<ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <civil-work-header [small]="true"></civil-work-header>


    <filter-bar (click)="onSearchBadgeClick()" [filter]="filter"></filter-bar>

    <no-items [list]="list" [onAdd]="add.bind(this)" [type]="'civilWorkOrder'"></no-items>

    <div [style.marginBottom]="'80px'">

        <civil-work-order-header [order]="order" *ngFor="let order of list | orderByImpure: '-necessidade'"
                                 link="CivilWorkOrderDetailsPage"
                                 [linkData]="{item: order}"></civil-work-order-header>
    </div>

    <ion-fab bottom right *ngIf="list && list.length">
        <button ion-fab color="secondary-dark" link="CivilWorkOrderAddEditPage">
            <ion-icon class="white-icon" name="add"></ion-icon>
        </button>
    </ion-fab>

</ion-content>
