// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




$text-sizes: (
  text-header: 2.3rem,
  text-title: 1.7rem,
  text-body: 1.4rem,
  text-caption: 1.3rem,
  text-caption-uppercase: 1.2rem,
  text-very-small: 1.1rem
);



// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    rgb(54,54,54),
  secondary:  rgb(255,205,89),
  secondary-dark:  #E39730,
  danger:     #f53d3d,
  light:      #f4f4f4,
  grey: #d0d0d0,
  dark:       #222,
  white:       #fff,
  text-primary: rgba(0,0,0,0.68),
  text-secondary: rgba(0,0,0,0.54),
  blue-icon: #64B5F6,
  blue: #64B5F6,
  gold: gold,
  green: green
);



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@import '../assets/pink-bluegrey';



$toolbar-background: map_get($colors, primary);
$button-ios-border-radius: 2px;
$button-md-border-radius: 2px;
$segment-button-md-background-color-activated: map_get($colors, primary);
