<!--
  Generated template for the CivilWorkOrderItemAddEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{item?.id || item?.localId ? 'Editar' : 'Adicionar'}} item</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>


  <form #form="ngForm" padding-left padding-right>

    <ion-row>

      <ion-col col-12 no-padding>

        <ion-item class="message-item" margin-bottom>
          <ion-label floating>Nome do item*</ion-label>
          <ion-input required name="name" required #name="ngModel" type="text" [(ngModel)]="item.nome"></ion-input>
        </ion-item>
        <small padding-left *ngIf="name.invalid && (name.dirty || name.touched)" class="form-error">
          Por favor verifique o nome.
        </small>

      </ion-col>

      <ion-col col-12 no-padding>

        <ion-item class="message-item" margin-bottom>
          <ion-label floating>Quantidade*</ion-label>
          <ion-input pattern="[0-9]*" required name="quantity" #quantity="ngModel" type="tel" [(ngModel)]="item.quantidade"></ion-input>
        </ion-item>
        <small padding-left *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="form-error">
          Por favor verifique a quantidade.
        </small>

      </ion-col>

      <ion-col col-12 no-padding>

        <ion-item class="message-item" margin-bottom>
          <ion-label floating>Unidade*</ion-label>
          <ion-input required name="unity" required #unity="ngModel" type="text" [(ngModel)]="item.unidadeMedida"></ion-input>
        </ion-item>
        <small padding-left *ngIf="unity.invalid && (unity.dirty || unity.touched)" class="form-error">
          Por favor verifique a unidade.
        </small>

      </ion-col>

      <ion-col col-12 no-padding>

        <ion-item class="message-item" margin-bottom>
          <ion-label floating>Complemento</ion-label>
          <ion-textarea [auto-resize-textarea]="320" name="complement" #message="ngModel" type="text"
                     [(ngModel)]="item.complemento"></ion-textarea>
        </ion-item>

      </ion-col>

      <ion-col no-padding col-12 displayFlex>
        <ion-item no-lines>
          <ion-label>Apropriar itens</ion-label>
          <ion-toggle [(ngModel)]="item.frame" name="visible" color="secondary-dark"></ion-toggle>
        </ion-item>

      </ion-col>

      <ion-col col-12 no-padding *ngIf="item.frame">

        <ion-item>
          <ion-label floating>Fase da obra</ion-label>
          <ion-select (ionChange)="getServicos()" name="step" name="step" [(ngModel)]="item.id_fase" okText="Selecionar" cancelText="Cancelar">
            <ion-option value="none">Nenhuma</ion-option>
            <ion-option value="{{step.id_fase}}" *ngFor="let step of steps | orderByImpure: 'nome'; let i = index">{{step.nome}}</ion-option>
          </ion-select>
        </ion-item>

      </ion-col>

      <ion-col col-12 no-padding *ngIf="item.frame" [style.marginBottom]="'50px'">

        <ion-item>
          <ion-label floating>Serviço</ion-label>
          <ion-select name="service" name="service" [(ngModel)]="item.id_servico" okText="Selecionar" cancelText="Cancelar">
            <ion-option value="none">Nenhum</ion-option>
            <ion-option value="{{service.id_servico}}" *ngFor="let service of services | orderByImpure: 'nome'; let i = index">{{service.nome}}</ion-option>
          </ion-select>
        </ion-item>

      </ion-col>

    </ion-row>

  </form>


</ion-content>

<ion-footer>
  <ion-toolbar class="btt-toolbar">
    <ion-row>
      <ion-col no-padding>
        <button (click)="cancel()" no-margin ion-button clear full color="secondary-dark">
          Cancelar
        </button>
      </ion-col>
      <ion-col no-padding>
        <button (click)="onAddClick(form)" no-margin ion-button full color="secondary-dark" icon-left>
          <ion-icon name="md-checkmark"></ion-icon>
          Salvar
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
