<!--
  Generated template for the CivilWorkGalleryFiltersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Pesquisa com filtros</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="close()">
                <ion-icon color="white" name="md-close" item-end></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>
    <form [style.width]="'100%'" onsubmit=""  padding-left padding-right>
        <ion-row>

            <ion-col col-12 no-padding>


                <ion-item>
                    <ion-label floating>Nome</ion-label>
                    <ion-input type="text" [(ngModel)]="filter.name" name="name"></ion-input>
                </ion-item>


            </ion-col>

            <ion-col col-6 no-padding>
                <ion-item>
                    <ion-label floating>Data início</ion-label>
                    <ion-datetime cancelText="Cancelar" doneText="Escolher" name="startDate" displayFormat="DD/MM/YYYY"
                                  pickerFormat="DD MMMM YYYY" [(ngModel)]="filter.startDate"></ion-datetime>
                </ion-item>
            </ion-col>

            <ion-col col-6 no-padding>
                <ion-item>
                    <ion-label floating>Data fim</ion-label>
                    <ion-datetime cancelText="Cancelar" doneText="Escolher" name="endDate" displayFormat="DD/MM/YYYY"
                                  pickerFormat="DD MMMM YYYY" [(ngModel)]="filter.endDate"></ion-datetime>
                </ion-item>
            </ion-col>

            <ion-col no-padding col-12 displayFlex>
                <i class="material-icons toggle-icon">check_box</i>
                <ion-item>
                    <ion-label>Pasta</ion-label>
                    <ion-toggle name="folder" [(ngModel)]="filter.folders" color="secondary-dark"
                                checked="false"></ion-toggle>
                </ion-item>


            </ion-col>

            <ion-col no-padding col-12 displayFlex>
                <i class="material-icons toggle-icon">folder</i>
                <ion-item>
                    <ion-label>Arquivo</ion-label>
                    <ion-toggle name="file" [(ngModel)]="filter.files" color="secondary-dark"
                                checked="false"></ion-toggle>
                </ion-item>


            </ion-col>

            <ion-col no-padding col-12 displayFlex>
                <i class="material-icons toggle-icon">visibility</i>
                <ion-item>
                    <ion-label>Exibindo no portal do cliente</ion-label>
                    <ion-toggle [(ngModel)]="filter.visible" name="visible" color="secondary-dark"></ion-toggle>
                </ion-item>


            </ion-col>

            <ion-col no-padding col-12 displayFlex>
                <i class="material-icons toggle-icon">visibility_off</i>
                <ion-item>
                    <ion-label>Não exibindo no portal do cliente</ion-label>
                    <ion-toggle [(ngModel)]="filter.invisible" name="invisible" color="secondary-dark"></ion-toggle>
                </ion-item>


            </ion-col>


        </ion-row>
    </form>

</ion-content>

<ion-footer>
    <ion-toolbar class="btt-toolbar">
        <ion-row>
            <ion-col padding-left padding-right>
                <button (click)="doFilter()" type="button" no-margin ion-button full color="secondary-dark" icon-left>
                    <ion-icon name="md-checkmark"></ion-icon>
                    Pesquisar
                </button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>
