<!--
  Generated template for the CivilWorkGalleryMovePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Mover</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <file-manager [selectable]="false" [showFiles]="false" #fileManager [folder]="folder" [selectable]="true"></file-manager>

</ion-content>

<ion-footer>
  <ion-toolbar class="btt-toolbar">
    <ion-row>
      <ion-col no-padding>
        <button (click)="cancel()" no-margin ion-button clear full color="secondary-dark" icon-left>
          cancelar
        </button>
      </ion-col>
      <ion-col no-padding>
        <button (click)="move()" no-margin ion-button full color="secondary-dark" icon-left>
          Escolher pasta
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
