<round-letter *ngIf="!img" margin-bottom margin-right [text]="text ? text : 'u'"></round-letter>

<ion-avatar *ngIf="img" margin-left item-start>
    <img-loader class="feature-image" fallback="assets/imgs/menu/logo_01tec.jpg"
                src="{{img}}" spinner="true"
                fallbackAsPlaceholder="true" useImg></img-loader>
</ion-avatar>
