<ion-menu [content]="content">

    <ion-content>

        <div class="menu-header">
            <div class="menu-header-content">

                <img-loader class="menu-header-bg" fallback="assets/imgs/menu/company-placeholder.png"
                            src="{{userLocalProvider.company?.logo}}" spinner="true"
                            fallbackAsPlaceholder="false" useImg></img-loader>


                <ion-item class="user-avatar" no-lines color="toolbar-header-background">
                    <!--<ngu-letter-avatar avatar-data='Otávio Zanon' avatar-custom-bg-color="#E39730" avatar-shape="round"></ngu-letter-avatar> -->

                    <user-avatar [img]="userLocalProvider.user?.foto" [text]="userLocalProvider.user?.nome"></user-avatar>

                    <div class="user-details">
                        <h2 class="user-name">{{userLocalProvider.user?.nome}}</h2>
                        <h2 class="title">{{userLocalProvider.company?.nome}}</h2>
                        <p class="description"><span *ngIf="userLocalProvider.company?.matriz">Matriz</span> <span
                                *ngIf="userLocalProvider.company?.telefone"><span *ngIf="userLocalProvider.company?.telefone"> | {{userLocalProvider.company?.telefone}}</span> </span>
                        </p>
                    </div>
                </ion-item>
            </div>
        </div>

        <ion-toolbar color="white" class="selected-civilwork-toolbar" no-padding *ngIf="civilWorkProvider.selected">
            <ion-row no-padding>
                <ion-col col-12 no-padding>

                    <ion-item class="selected-civilwork">
                        <ion-icon color="white" name="md-checkmark-circle" item-start></ion-icon>
                        {{civilWorkProvider.selected?.nome}}
                    </ion-item>

                </ion-col>
            </ion-row>
        </ion-toolbar>

        <!--<ion-row [style.background]="'#fff'">-->

        <!--<ion-col col-8 offset-2 padding-top padding-bottom>-->
        <!--<img src="assets/imgs/menu/logo.png" />-->
        <!--</ion-col>-->
        <!--</ion-row>-->


        <ion-list no-lines>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" class="menu-item">
                <i class="material-icons">{{p.icon}}</i>
                {{p.title}}
            </button>
            <!--<button menuClose ion-item (click)="sync()" class="menu-item">-->
                <!--<i class="material-icons">sync</i>-->
                <!--Sincronizar dados-->
            <!--</button>-->
            <button menuClose ion-item (click)="logOff()" class="menu-item">
                <i class="material-icons">close</i>
                Sair
            </button>
        </ion-list>
    </ion-content>


    <ion-footer *ngIf="false">
        <ion-toolbar color="white">
            <ion-row>
                <ion-col col-6 offset-3>
                    <img src="assets/imgs/menu/logo.png"/>
                </ion-col>
            </ion-row>
        </ion-toolbar>
    </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
