// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.button {
  border-radius: 2px !important;
}

ion-menu ion-header .item-inner {
  border-bottom: 0px !important;
}

ion-menu {




  .user-details {
    display: flex;
    flex-direction: column;
    width: auto;
    position: relative;
  }

  .user-avatar {
    padding-left: 8px;

    ion-label {
      display: flex;

    }

  }

  ion-footer {

    .exit-button {
      margin-top: 10px;
      font-size: map_get($text-sizes, text-caption) !important;
    }

    .user-avatar {

      ion-label {
        font-size: map_get($text-sizes, text-caption);
        color: map_get($colors, text-primary);
        text-transform: none;
      }

      ion-avatar {
        display: flex;
        align-items: center;
        margin-right: 2px !important;

        img {
          width: 22px;
          height: 22px;
        }
      }

    }
  }

  ion-content {
    background-color: #fff !important;

    .menu-item {
      font-size: map_get($text-sizes, text-body);

      ion-icon {
        min-height: 2.0rem !important;
        font-size: 2.0rem !important;
      }

      .item-inner {
        margin-left: 4px !important;
      }

      ion-label {
        display: flex;
        align-items: center;

        i {
          margin-right: 8px;
        }
      }
    }

    .menu-header {
      background-color: #fff;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      .menu-header-bg {
        position: absolute;
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        height: 100%;
        object-fit: contain;
      }

      .menu-header-bg img {
        height: 100%;
        object-fit: cover;
        max-width: 100%;
      }

      .menu-header-content {
        position: relative;
        width: 100%;;
        background-color: rgba(0, 0, 0, 0.5);
      }

      ion-item {
        background-color: transparent;

      }

      .title {
        font-size: map_get($text-sizes, text-body);
        color: map_get($colors, white);
        font-weight: bold;
      }

      .user-name {
        font-size: map_get($text-sizes, text-body);
        color: map_get($colors, white);
        font-weight: bold;
      }

      .description {
        font-size: map_get($text-sizes, text-body);
        color: map_get($colors, white);
        font-weight: 300;
      }

    }

  }
}

.form-text {
  font-size: map_get($text-sizes, text-caption);
}

.text-danger {
  color: map_get($colors, danger);
}

ion-content {
  background-color: rgb(240, 240, 240) !important;

}

.form-error {
  padding-left: 0px !important;
  margin-top: -10px;
  color: map_get($colors, danger);
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/google-fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../assets/fonts/google-fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(../assets/fonts/google-fonts/MaterialIcons-Regular.woff) format('woff'),
  url(../assets/fonts/google-fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

ion-item {
  background-color: transparent !important;

  ion-label {
    white-space: normal;
  }
}

.dark-icon {
  color: map_get($colors, text-primary);
}

.light-icon {
  color: map_get($colors, white);
}

.material-icons {
  color: map_get($colors, text-primary);
}

ion-navbar .material-icons {
  color: map_get($colors, white) !important;
}

.btt-toolbar {
  .toolbar-background {
    background: #fff;
  }
  i.material-icons {
    color: map_get($colors, secondary-dark) !important;
  }
}

ion-alert {
  .button-inner {
    color: map_get($colors, secondary-dark);
  }
}

.toast-container {
  background-color: map_get($colors, secondary-dark) !important;
}

.selected-civilwork {

  ion-label {
    font-size: map_get($text-sizes, text-body);
    color: map_get($colors, white);
  }
  padding-left: 8px;
  background: map_get($colors, primary) !important;

  ion-icon {
    font-size: 24px;
  }

  .item-inner {
    font-size: 24px;
    margin-left: 0px !important;
  }
}

.search-toolbar {
  min-height: auto;
  margin-top: 8px;
}

.selected-civilwork-toolbar {
  min-height: auto;
}

.visibilityOnIcon.material-icons {
  color: map_get($colors, blue-icon) !important;
}

.visibilityOffIcon.material-icons {
  color: map_get($colors, dark) !important;
}


.picker-opt-selected {
  font-weight: bold;
  color: map_get($colors, secondary-dark) !important;
}


.alert-top{
  padding: 0 !important;
  align-items: center !important;
}

.item-input, .item-select, .item-toggle, .item-datetime {
  padding-left: 0px;
}

.toggle-icon {
  padding-right: 8px !important;
}

.item-toggle .item-inner, ion-toggle {
  padding-right: 0px !important;
}

.item-inner ion-label {
  padding-left: 0px !important;
}