page-civil-work-gallery {

  civil-work-header {
    .card-texts ion-col:not(:first-child)
    {
      display: none !important;
    }
  }

  .fab-menu {
    button[ion-fab] {
      overflow: visible;
      position: relative;

      ion-label {
        position: absolute;
        top: -8px;
        right: 40px;

        color: white;
        background-color: rgba(0, 0, 0, 0.7);
        line-height: 24px;
        padding: 4px 8px;
        border-radius: 4px;
      }
    }

    .file-icon {
      color: map_get($colors, white);
    }
  }

  .fab {
    contain: layout;
  }

}
