<!--
  Generated template for the CivilWorkGalleryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{fileManager.selected.length ? fileManager.selected.length + ' selecionados' : 'Galeria '}}</ion-title>


    <ion-buttons end>
      <button *ngIf="fileManager.selected.length" ion-button (click)="showSelectedFilesOptions()">
        <i class="material-icons">edit</i>
      </button>
      <button *ngIf="!fileManager.selected.length" ion-button (click)="showOrderAndFilterOptions()">
        <i class="material-icons">more_vert</i>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <civil-work-header [clickable]="false" [small]="true"></civil-work-header>

 <file-manager #fileManager [folder]="folder" [selectable]="true" [style.marginBottom]="'50px'"></file-manager>


  <ion-fab [hidden]="fileManager.selected.length" bottom right class="fab-menu" #fab>
    <button ion-fab color="secondary-dark">
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button color="secondary-dark" ion-fab (click)="loadFromCamera()">
        <ion-icon name="md-camera"></ion-icon>
        <ion-label>Foto da Câmera</ion-label>
      </button>
      <button color="secondary-dark" ion-fab (click)="loadFromGallery()">
        <ion-icon name="md-image"></ion-icon>
        <ion-label>Foto da Galeria</ion-label>
      </button>
      <button color="secondary-dark" ion-fab (click)="loadFromFiles()">
        <ion-icon name="md-document"></ion-icon>
        <ion-label>Arquivo</ion-label>
      </button>
      <button color="secondary-dark" ion-fab (click)="fileManager.onAddFolderClick()">
        <ion-icon name="md-folder"></ion-icon>
        <ion-label>Pasta</ion-label>
      </button>
    </ion-fab-list>
  </ion-fab>


  <ion-fab [hidden]="!fileManager.selected.length" bottom right class="fab-menu">
    <button ion-fab color="secondary-dark" (click)="showSelectedFilesOptions()">
      <ion-icon name="md-create"></ion-icon>
    </button>
  </ion-fab>


</ion-content>
