<ion-content no-bounce *ngIf="slides && slides.length">

  <ion-slides pager #introSlider>
    <ion-slide *ngFor="let slide of slides">
      <ion-toolbar>
        <ion-buttons end>
          <button (click)="onSkipClick()" class="btn-skip" ion-button color="primary">Pular</button>
        </ion-buttons>
      </ion-toolbar>
      <img-loader src="slide.imagem" class="slide-image" fallback="assets/imgs/menu/logo.png" spinner="true" fallbackAsPlaceholder="false" useImg></img-loader>
      <h2 class="slide-title" [innerHTML]="slide.titulo"></h2>
      <p [innerHTML]="slide.texto"></p>
    </ion-slide>
    <ion-slide *ngIf="slides">

      <ion-toolbar [style.visibility]="'hidden'">
        <ion-buttons end>
          <button (click)="onSkipClick()" ion-button color="primary">Pular</button>
        </ion-buttons>
      </ion-toolbar>

      <img-loader src="slides[0].imagem" class="slide-image" fallback="assets/imgs/menu/logo.png" spinner="true" fallbackAsPlaceholder="false" useImg></img-loader>
      <h2 class="slide-title" [innerHTML]="slides[0].titulo"></h2>
      <button class="continueBtt" ion-button large clear icon-end color="secondary-dark" (click)="onContinueclick()">
        Continuar
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>

</ion-content>
