page-intro-slider {

  // scroll content
  .slide-zoom {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  // space for swiper-pagination
  .swiper-wrapper {
    height: 95%;
  }

  .btn-skip {
    margin: 24px;
    font-weight: bold;
  }

  .slide-zoom {
    background-color: #fff;
  }

  .continueBtt {
    color: map_get($colors, secondary-dark) !important;
  }

  .swiper-pagination-bullet-active {
    background-color: map_get($colors, secondary-dark) !important;
  }

  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 18px 18px;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

}
