<ion-grid no-padding *ngIf="item" (click)="click()">
  <ion-row>


    <ion-col col-12 class="header-div" no-padding [ngClass]="{'small': small, 'big': !small}">

      <img-loader class="feature-image" fallback="assets/imgs/civilwork/placeholder-obra.jpg"
                  src="{{item.imagem}}" spinner="true"
                  fallbackAsPlaceholder="false" useImg></img-loader>

      <div class="card-texts">


        <ion-row no-padding [style.width]="'100%'">


          <ion-col col-12 no-padding>
            <h4 class="title">{{item.nome}}</h4>
          </ion-col>

          <ion-col col-12 no-padding>

            <div displayFlex="inline-flex" class="customer icon-text">
              <i class="material-icons">person</i> <span>{{item.nome_cliente}}</span>
            </div>


            <div displayFlex="inline-flex" class="place icon-text" *ngIf="item.cidade">
              <i class="material-icons">place</i> <span>{{item.cidade}}</span>
            </div>

          </ion-col>

          <ion-col col-12 no-padding>

            <div displayFlex="inline-flex" class="customer icon-text" ngClass="">
              <i class="material-icons">assignment</i> <span>{{item.situacao}}</span>
            </div>

            <div displayFlex="inline-flex" class="customer icon-text" ngClass="">
              <i class="material-icons">home</i> <span>{{item.categoria}}</span>
            </div>

          </ion-col>


        </ion-row>


      </div>

    </ion-col>

  </ion-row>
</ion-grid>
