<!--
  Generated template for the CivilWorkOrderFilterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pesquisa com filtros</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon color="white" name="md-close" item-end></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>


  <form #form="ngForm" *ngIf="searchObject" padding-left padding-right>
    <ion-row>

      <ion-col col-12 no-padding>


        <ion-item class="message-item" margin-bottom>
          <ion-label floating>Solicitação</ion-label>
          <ion-input name="need" #need="ngModel" type="text" [(ngModel)]="searchObject.need" value=""></ion-input>
        </ion-item>

      </ion-col>

      <ion-col col-12 no-padding>


        <ion-item class="message-item" margin-bottom>
          <ion-label floating>Usuário</ion-label>
          <ion-input name="user" #user="ngModel" type="text" [(ngModel)]="searchObject.user" value=""></ion-input>
        </ion-item>

      </ion-col>

      <ion-col col-6 no-padding>
        <ion-item>
          <ion-label floating>Data início</ion-label>
          <ion-datetime cancelText="Cancelar" doneText="Escolher" name="startDate" displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY"
                        [(ngModel)]="searchObject.startDate"></ion-datetime>
        </ion-item>
      </ion-col>

      <ion-col col-6 no-padding>
        <ion-item>
          <ion-label floating>Data fim</ion-label>
          <ion-datetime cancelText="Cancelar" doneText="Escolher" name="endDate" displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY"
                        [(ngModel)]="searchObject.endDate"></ion-datetime>
        </ion-item>
      </ion-col>


      <ion-col no-padding  col-12 displayFlex *ngFor="let step of steps">
        <ion-item class="badge-item" no-lines>
          <ion-label><span [style.backgroundColor]="step.cor_hex">{{step.nome}}</span></ion-label>
          <ion-toggle color="secondary-dark" [(ngModel)]="searchObject.step[step.nome]" name="{{step.nome}}"></ion-toggle>
        </ion-item>


      </ion-col>


    </ion-row>

  </form>

</ion-content>

<ion-footer>
  <ion-toolbar class="btt-toolbar">
    <ion-row>
      <ion-col padding-left padding-right>
        <button (click)="doFilter(form)" no-margin ion-button full color="secondary-dark" icon-left>
          <ion-icon name="md-checkmark"></ion-icon>
          Pesquisar
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
