page-civil-work-order-filter {
    .badge-item {
      ion-label {
        marn: 0px;
        padding: 8px;

        span {
          border-radius: 8px;
          padding: 8px;
          color: #fff;
          font-weight: bold;
          font-size: map_get($text-sizes, text-caption);
        }
      }
    }

  ion-item {
    background-color: transparent !important;

    ion-label {
      white-space: normal;
    }
  }



}
