<!--
  Generated template for the CivilWorkListFilterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pesquisa com filtros</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon color="white" name="md-close" item-end></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <form #form="ngForm" *ngIf="searchObject" padding-left padding-right>
    <ion-row>

      <ion-col col-12 no-padding>


        <ion-item class="message-item" margin-bottom>
          <ion-label floating>Nome obra</ion-label>
          <ion-input name="civilwork" #civilwork="ngModel" type="text" [(ngModel)]="searchObject.civilwork" value=""></ion-input>
        </ion-item>

      </ion-col>

      <ion-col col-12 no-padding>


        <ion-item class="message-item" margin-bottom>
          <ion-label floating>Nome cliente</ion-label>
          <ion-input name="user" #user="ngModel" type="text" [(ngModel)]="searchObject.userName" value=""></ion-input>
        </ion-item>

      </ion-col>

      <ion-col col-12 no-padding>

        <ion-item>
          <ion-label floating>Cidade</ion-label>
          <ion-select name="city" name="city" [(ngModel)]="searchObject.city" okText="Selecionar" cancelText="Cancelar">
            <ion-option value="all">Todas</ion-option>
            <ion-option value="none">Não informado</ion-option>
            <ion-option value="{{city.cidade}}" *ngFor="let city of cities | orderByImpure: 'title'">{{city.cidade}}</ion-option>
          </ion-select>
        </ion-item>

      </ion-col>

      <ion-col col-12 no-padding>

        <ion-item>
          <ion-label floating>Tipo</ion-label>
          <ion-select name="type" name="type" [(ngModel)]="searchObject.type" okText="Selecionar" cancelText="Cancelar">
            <ion-option value="all">Todos</ion-option>
            <ion-option value="none">Não informado</ion-option>
            <ion-option value="{{type.categoria}}" *ngFor="let type of types | orderByImpure: 'title'">{{type.categoria}}</ion-option>
          </ion-select>
        </ion-item>

      </ion-col>

      <ion-col col-12 no-padding>

        <ion-item>
          <ion-label floating>Situação</ion-label>
          <ion-select name="situation" name="situation" [(ngModel)]="searchObject.situation" okText="Selecionar" cancelText="Cancelar">
            <ion-option value="all">Todas</ion-option>
            <ion-option value="none">Não informado</ion-option>
            <ion-option value="{{situation.situacao}}" *ngFor="let situation of situations | orderByImpure: 'title'">{{situation.situacao}}</ion-option>
          </ion-select>
        </ion-item>

      </ion-col>


    </ion-row>

  </form>

</ion-content>

<ion-footer>
  <ion-toolbar class="btt-toolbar">
    <ion-row>
      <ion-col padding-left padding-right>
        <button (click)="doFilter(form)" no-margin ion-button full color="secondary-dark" icon-left>
          <ion-icon name="md-checkmark"></ion-icon>
          Pesquisar
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
