<!--
  Generated template for the CivilWorkDayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Dia a dias da obra ({{list ? list?.length : '0'}})</ion-title>
        <ion-buttons end>
            <button ion-button (click)="showFilterModal()">
                <i class="material-icons">filter_list</i>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>


    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


    <civil-work-header [small]="true"></civil-work-header>

    <filter-bar (click)="onSearchBadgeClick()" [filter]="filter"></filter-bar>


    <no-items [type]="'civilWorkDay'" [onAdd]="add.bind(this)" [list]="list"></no-items>

    <div [style.marginBottom]="'50px'">




        <div *ngFor="let item of list | orderByImpure: '-data'">
            <civil-work-day-header *ngIf="showItem(item)" (click)="onClick(item)" [item]="item"></civil-work-day-header>
        </div>

    </div>

    <ion-fab bottom right *ngIf="list && list.length">
        <button link="CivilWorkDayAddEditPage" ion-fab color="secondary-dark">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>

</ion-content>
