page-civil-work-day-list, page-civil-work-day-details {

  ion-card {
    position: relative;

    .visibility-div {
      position: absolute;
      right: 0px;
      top: 0px;
      padding: 16px;

      .file-visibility-icon {
        font-size: map_get($text-sizes, text-title);
      }

    }

    ion-card-content {
      .step {
        color: map_get($colors, text-primary);
        font-size: map_get($text-sizes, text-title);
      }

      p {
        color: map_get($colors, text-primary) !important;
        font-size: map_get($text-sizes, text-body) !important;
      }

      .file-count-div {
        color: map_get($colors, text-primary) !important;
        i {
          font-size: map_get($text-sizes, text-title);
          color: map_get($colors, text-primary) !important;
        }

      }
    }

  }

  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    top: 10px !important;
  }

  .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    background-color: white !important;
    opacity: 0.8;
  }

  .swiper-pagination-bullet-active {
    background-color: map_get($colors, secondary-dark) !important;
  }

  .file-icon, .video-icon, .image-icon {
    height: 100%;


    .title {
      font-size: map_get($text-sizes, text-title);
      margin-top: 8px;
      color: map_get($colors, text-primary) !important;
    }

    i {
      font-size: 6.0rem;
      color: map_get($colors, primary);
    }
  }

  .slide-div {
    position: relative;
    height: 200px;
    background-color: #000;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }

    .slide-title {
      position: absolute;
      bottom: 0px;
      color: #fff;
      padding: 4px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      left: 0px;
    }
  }

  video {
    width: 100%;
  }

  .search-toolbar {
    .toolbar-content {
      display: flex;
      margin-right: 8px;
      justify-content: flex-end;
    }
  }

}
