<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Obras ({{list ? list?.length : '0'}})</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="showFilterModal()">
        <ion-icon  color="white" name="md-search" item-end></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <div [style.marginBottom]="'50px'">

   <filter-bar (click)="onSearchBadgeClick()" [filter]="filter"></filter-bar>

    <no-items [list]="list"></no-items>

    <ion-card *ngFor="let item of list | orderByImpure: 'nome'; let i = index">

      <ion-card-content>

        <img-loader class="feature-image" fallback="assets/imgs/civilwork/placeholder-obra.jpg"
                    src="{{item.imagem}}" spinner="true"
                    fallbackAsPlaceholder="false" useImg></img-loader>

        <ion-badge *ngIf="item.notifications" class="notification-badge" color="secondary-dark">{{item.notifications}}
        </ion-badge>

        <div class="card-texts">


          <ion-row no-padding [style.width]="'100%'">


            <ion-col col-12 no-padding>
              <h4 class="title">{{item.nome}}</h4>
              <!--<div displayFlex="inline-flex" *ngIf="item.featured" class="customer icon-text gold">-->
                <!--<i class="material-icons">star</i> <span>Imóvel em destaque</span>-->
              <!--</div>-->
            </ion-col>


            <ion-col col-12 no-padding>

              <div displayFlex="inline-flex" class="customer icon-text">
                <i class="material-icons">person</i> <span>{{item.nome_cliente}}</span>
              </div>


              <div displayFlex="inline-flex" class="place icon-text" *ngIf="item.cidade">
                <i class="material-icons">place</i> <span>{{item.cidade}}</span>
              </div>

            </ion-col>

            <ion-col col-12 no-padding>

              <div displayFlex="inline-flex" class="customer icon-text" *ngIf="item.situacao">
                <i class="material-icons">assignment</i> <span>{{item.situacao}}</span>
              </div>

              <div displayFlex="inline-flex" class="customer icon-text" *ngIf="item.categoria">
                <i class="material-icons">home</i> <span>{{item.categoria}}</span>
              </div>


            </ion-col>


          </ion-row>


        </div>

      </ion-card-content>

      <!--<ion-row>-->

      <!--<ion-col col-12 padding-left class="texts">-->

      <!--<span class="status"><ion-icon item-start name="ios-checkmark"></ion-icon>{{item.status}}</span>-->


      <!--</ion-col>-->
      <!--</ion-row>-->

      <ion-row class="button-row">
        <ion-col>
          <button color="secondary-dark" full ion-button clear small
                  (click)="openCivilWorkPage('CivilWorkDayListPage', item)">
            <div class="button-text">Dia a dia</div>
          </button>
        </ion-col>
        <ion-col>
          <button color="secondary-dark" full ion-button clear small
                  (click)="openCivilWorkPage('CivilWorkGalleryPage', item)">
            <div class="button-text">Galeria</div>
          </button>
        </ion-col>
        <ion-col>
          <button color="secondary-dark" full ion-button clear small
                  (click)="openCivilWorkPage('CivilWorkOrderListPage', item)">
            <div class="button-text">Solicitações</div>
          </button>
        </ion-col>
      </ion-row>

    </ion-card>
  </div>
</ion-content>
