page-civil-work-list {

  .button-row {

    .button-inner {
      white-space: normal;
    }
    .button-text {
      font-size: 1.0rem !important;
    }

  }

  ion-content {
    background-color: rgb(240, 240, 240) !important;
  }

  ion-card-content, .header-div {
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .material-icons {
      color: map_get($colors, white) !important;
    }

    .notification-badge {
      position: absolute;
      top: 8px;
      right: 8px;
    }

    .feature-image {
      object-fit: cover;
      height: 100%;
      width: 100%;
      left: 0px;
      position: absolute;
    }
    .card-texts {
      position: absolute;
      bottom: 0px;
      padding: 8px;
      left: 0px;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      width: 100%;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.4));
      //background: rgba(0,0,0, 0.4);
      color: #fff;
    }
  }

  .texts {
    padding-top: 16px;
    display: flex;
    padding-right: 26px;
    align-items: flex-end;
    justify-content: flex-end;

    ion-icon {
      margin-right: 8px;
    }
  }

  ion-card, .header-div  {

    .title {
      font-size: map_get($text-sizes, text-title);
      color: map_get($colors, white);
      font-weight: bold;
      margin-top: 2px;
      margin-bottom: 2px;

    }

    .status {
      margin-right: 16px;
      font-size: map_get($text-sizes, text-caption);
      color: map_get($colors, text-secondary);
      font-weight: 400;
    }

    .description {
      font-size: map_get($text-sizes, text-caption);
      color: map_get($colors, white);
      font-weight: 400;
      margin-top: 2px;
      margin-bottom: 2px;
    }

    .place {
      font-size: map_get($text-sizes, text-caption);
      color: map_get($colors, white);
      font-weight: 300;
    }

    .customer {
      font-size: map_get($text-sizes, text-body);
      color: map_get($colors, white);
      font-weight: 300;
    }

    .icon-text.gold {
      i, span {
        color: map_get($colors, gold);
      }
    }
    .icon-text {
      span {
        padding-left: 6px;
        padding-right: 4px;
      }

      i {
        font-size: 1.4rem;
      }


    }

    .button-row {
      .button {
        // min-height: 50px;
        font-weight: bold;
        text-transform: uppercase;
        //span {
        //  flex-direction: column;
        //
        //  ion-icon {
        //    padding-right: 0px;
        //    font-size: 2.4rem;
        //    margin-bottom: 8px;
        //  }
        //
        //  div {
        //    font-weight: bold;
        //  }
        //}

        .button-inner {
          font-size: 1.2rem;
        }
      }
    }
  }

}
