sync-line {

  .sync-div {
    background-color: #f0f0f0;
    padding: 8px;
    width: 100%;

    .sync-icon {
      margin-right: 8px;
      color: map_get($colors, secondary-dark);
      font-size: 1.7rem;
    }

    .title.small {
      font-size: 1.0rem;
    }

    .title {
      font-size: map_get($text-sizes, text-body);
      color: map_get($colors, text-primary);
    }

  }

}
