<ion-row>
    <ion-col no-padding>
        <div *ngIf="item && item.syncDate != undefined">
            <!--<div displayFlex="inline-flex" class="sync-div" *ngIf="item.syncDate">-->
                <!--<i class="material-icons sync-icon">sync</i>-->
                <!--<span class="title" *ngIf="!small">Sincronizado em {{item.data | date: 'short'}}</span>-->
                <!--<span class="title small" *ngIf="small">Sinc {{item.data | date: 'short'}}</span>-->
            <!--</div>-->
            <div displayFlex="inline-flex" class="sync-div" *ngIf="!item.syncDate">
                <i class="material-icons sync-icon">access_time</i>
                <span class="title" *ngIf="!small">Não sincronizado</span>
                <span class="title small" *ngIf="small">Não sincronizado</span>
            </div>
        </div>
    </ion-col>
</ion-row>

