round-letter {
  display: inline-block;
  overflow: auto;
  width: 50px;

  .round-letter-div {
    background: orange;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
  }

  .round-letter-content {
    font-size: 2.0rem;
    font-weight: bold;
    text-transform: uppercase;
  }
}
