<!--
  Generated template for the CivilWorkDayAddEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>{{item.id_diaDia ? 'Editar' : 'Adicionar'}} dia a dia da obra</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <form (ngSubmit)="onAddClick(form)" #form="ngForm" padding-left padding-right>
        <ion-row>

            <ion-col col-12 no-padding>


                <ion-item class="message-item" margin-bottom>
                    <ion-label floating>Escrever mensagem</ion-label>
                    <ion-textarea [auto-resize-textarea]="320" required name="message" #message="ngModel" type="text"
                                  [(ngModel)]="item.texto" value=""></ion-textarea>
                </ion-item>
                <small *ngIf="message.invalid && (message.dirty || message.touched)" class="form-error">
                    Por favor verifique a mensagem.
                </small>

            </ion-col>

            <ion-col no-padding col-12 displayFlex>
                <ion-item>
                    <ion-label>Compartilhar com o cliente</ion-label>
                    <ion-toggle name="shared" [(ngModel)]="item.exibirCliente" color="secondary-dark"
                                checked="false"></ion-toggle>
                </ion-item>


            </ion-col>

            <ion-col col-12 no-padding>

                <ion-item>
                    <ion-label floating>Fase da obra (opcional)</ion-label>
                    <ion-select name="step" name="step" [(ngModel)]="item.id_fase" okText="Selecionar"
                                cancelText="Cancelar">
                        <ion-option value="none">Nenhuma</ion-option>
                        <ion-option value="{{step.id_fase}}"
                                    *ngFor="let step of steps | orderByImpure: 'nome'; let i = index">{{step.nome}}
                        </ion-option>
                    </ion-select>
                </ion-item>

            </ion-col>


            <ion-col col-12 no-padding>

                <ion-list>
                    <ion-list-header *ngIf="files && files.length" class="attachments-header">
                        Anexos
                    </ion-list-header>

                    <ion-card class="file-card" *ngFor="let file of files; let idx = index">

                        <img *ngIf="getFileType(file) == 'image'"
                             src="{{getFileImage(file)}}"/>

                        <div displayFlex justifyContent="center" *ngIf="getFileType(file) == 'file'" class="file-icon">
                            <i class="material-icons">insert_drive_file</i>
                        </div>
                        <!-- <div displayFlex justifyContent="center" *ngIf="file.type == 'video'" class="video-icon">
                            <i class="material-icons">play_circle_filled</i>
                        </div> -->

                        <ion-card-content>
                            <ion-card-title text-left>
                                {{file.nome}}
                            </ion-card-title>

                            <ion-item class="file-description-item" margin-bottom>
                                <ion-label floating>Escrever mensagem</ion-label>

                                <ion-textarea [auto-resize-textarea]="320" name="fileMessage-{{idx}}" type="text"
                                              [(ngModel)]="file.descricao"></ion-textarea>
                            </ion-item>

                        </ion-card-content>


                        <ion-row>
                            <ion-col>
                                <button (click)="deleteFile(idx, file)" type="button" ion-button color="secondary-dark"
                                        clear float-right>
                                    Excluir
                                </button>
                            </ion-col>
                        </ion-row>

                    </ion-card>

                </ion-list>

            </ion-col>

            <!--<ion-col col-12 no-padding>-->
            <!--<div class="image-div">-->

            <!--<img src="assets/imgs/civilwork/placeholder.jpg"/>-->
            <!--<ion-item>-->
            <!--<ion-label floating>Comentário da imagem</ion-label>-->
            <!--<ion-input type="text" ([ngModel])="item.files[0]" value=""></ion-input>-->
            <!--</ion-item>-->

            <!--</div>-->
            <!--</ion-col>-->


        </ion-row>
    </form>
</ion-content>

<ion-footer>
    <ion-toolbar class="btt-toolbar">
        <ion-row>
            <ion-col no-padding>
                <button (click)="attachFile()" no-margin ion-button clear full color="secondary-dark" icon-left>
                    <ion-icon name="md-attach"></ion-icon>
                    Anexar
                </button>
            </ion-col>
            <ion-col no-padding>
                <button (click)="onAddClick(form)" no-margin ion-button full color="secondary-dark" icon-left>
                    <ion-icon name="md-checkmark"></ion-icon>
                    Salvar
                </button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>
