page-civil-work-day-add-edit {
  ion-item {
    background-color: transparent !important;
  }

  .select-alert {
    align-items: flex-start;
  }

  .file-icon, .video-icon {
    padding: 16px;
    background-color: map_get($colors, primary);

    i {
      font-size: 4.0rem;
      color: #fff;
    }
  }

  .form-error {
    padding-left: 16px;
  }

  .image-div {
    padding-right: 16px;
    padding-left: 16px;

    ion-item {
      padding-left: 0px !important;
    }

    .item-inner {
      margin-right: 16px;
    }
  }

  .message-item {
    .item-inner {
      margin-right: 16px;
    }
  }

  .attachments-header {
    margin-left: 10px;
    color: map_get($colors, text-primary);
    border-bottom: solid 1px #ddd;
    border-top: 0px;
    background-color: transparent !important;
  }

  .file-card  {


    ion-card-title {
      font-size: map_get($text-sizes, text-title);
      color: map_get($colors, text-primary);
      font-weight: bold;
      margin-top: 2px;
      margin-bottom: 2px;
    }

    ion-item {
      padding-left: 0px !important;
    }

  }
}
