page-civil-work-order-details {
  .order-item-card {
    .text-div {
      width: 100%;
       i {
         font-size: 1.3rem;
         margin-right: 8px;
       }
    }
  }
}

@import "../civil-work-order-list/civil-work-order-list";
