<!--
  Generated template for the CivilWorkitemDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Solicitação de compra</ion-title>
    <ion-buttons end *ngIf="item?.situacao?.nome.toLowerCase() == 'rascunho' || item?.situacao?.nome.toLowerCase() == 'aberta'">
      <button ion-button (click)="showOptions()">
        <i class="material-icons">more_vert</i>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!--<civil-work-header [small]="true"></civil-work-header>-->

  <civil-work-order-header [full]="true" [order]="item"></civil-work-order-header>

  <div *ngIf="item?.itensArray && isLoaded">

    <ion-card class="item-card order-item-card" *ngFor="let item of item.itensArray">

      <ion-card-content>

        <ion-row>
          <ion-col col-12>
            <div displayFlex="inline-flex" class="text-div" *ngIf="item.nome">
              <i class="material-icons dark-icon">dashboard</i> <span class="title">{{item.nome}}</span>
            </div>
            <div displayFlex="inline-flex" class="text-div" *ngIf="item.quantidade">
              <i class="material-icons dark-icon">shopping_cart</i> <span class="description">{{item.quantidade}} {{item.unidadeMedida}}</span>
            </div>
            <div displayFlex="inline-flex" class="text-div" *ngIf="item.situacao">
              <i class="material-icons dark-icon">place</i> <span class="description">{{item.situacao.nome}}</span>
            </div>
            <p class="text">{{item.complemento}}</p>

            <sync-line [item]="item"></sync-line>


          </ion-col>

        </ion-row>

      </ion-card-content>

    </ion-card>

  </div>


</ion-content>
