page-civil-work-details {

  .option-item {
    font-size: map_get($text-sizes, text-body) !important;
    font-weight: 500;
    text-transform: uppercase;
    color: map_get($colors, primary);

    i {
      font-size: 1.3rem;
      color: map_get($colors, secondary-dark);
    }

  }

}
