<!--
  Generated template for the CivilWorkDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Obra</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div *ngIf="item">
    <ion-row>


      <civil-work-header></civil-work-header>


      <ion-col col-12 no-padding="">

        <ion-list>
          <button mode="ios" ion-item (click)="option.onClick()" *ngFor="let option of options" class="option-item">
            <i class="material-icons" item-start>{{option.icon}}</i>
            {{option.title}}
          </button>
        </ion-list>

      </ion-col>

    </ion-row>


  </div>
</ion-content>
