<div *ngIf="item">

    <ion-card>

        <div class="visibility-div">
            <i class="material-icons file-visibility-icon"
               [ngClass]="{'visibilityOnIcon': item.exibirCliente, 'visibilityOffIcon': !item.exibirCliente}">{{item.exibirCliente
                ? 'visibility' : 'visibility_off'}}</i>
        </div>

        <ion-item class="user-item">
            <user-avatar [img]="item.usuario?.foto" [text]="item.usuario?.nome"></user-avatar>

            <div class="user-details">
                <h2>{{item.usuario?.nome}}</h2>
                <p>{{item.data | date:'dd/MM/yyyy HH:mm'}}</p>
            </div>

        </ion-item>

        <ion-card-content *ngIf="item">
            <h3 class="step">{{item.step}}</h3>
            <div class="day-text-html" *ngIf="full">{{item.texto}}</div>
            <p *ngIf="!full">{{item.texto.length > 30 ? item.texto.substr(0, 30) + '...' : item.texto}}</p>
            <div displayFlex="inline-flex" class="file-count-div" *ngIf="item.anexos">
                <i class="material-icons dark-icon">attach_file</i> <span class="title">{{item.anexos ? item.anexos : '0'}} anexos</span>
            </div>


            <sync-line [item]="item"></sync-line>


        </ion-card-content>

    </ion-card>

</div>
