civil-work-day-header {


  .user-item {
    ion-label {
      display: flex;
    }

    .user-details {
      display: flex;
      margin-top: 8px;
      flex-direction: column;
      width: auto;
      position: relative;
    }


  }


  ion-card {
    position: relative;

    .visibility-div {
      position: absolute;
      right: 0px;
      top: 0px;
      padding: 16px;

      .file-visibility-icon {
        font-size: map_get($text-sizes, text-title);
      }

    }

    ion-card-content {
      .day-text-html {
        white-space: pre-wrap;
      }

      .step {
        color: map_get($colors, text-primary);
        font-size: map_get($text-sizes, text-title);
      }

      p {
        color: map_get($colors, text-primary) !important;
        font-size: map_get($text-sizes, text-body) !important;
      }

      .file-count-div {
        color: map_get($colors, text-primary) !important;
        i {
          font-size: map_get($text-sizes, text-title);
          color: map_get($colors, text-primary) !important;
        }

      }
    }

  }
}
